# Исключаем временные файлы и каталоги системы
.DS_Store
Thumbs.db

# Исключаем файлы среды разработки (например, PyCharm, VSCode)
.idea/
.vscode/

# Исключаем артефакты сборки и временные файлы
build/
dist/
*.o
*.log

# Исключаем виртуальные окружения Python
venv/
.env
*.pyc
__pycache__/

# Исключаем файлы с конфиденциальными данными
*.env
config.yaml
